.projects {
  //padding: $line-height-computed 0;
  position: relative;
  .container {
    //max-width: 84%;
    //margin-right: 0;
    //margin-left: auto;
    //padding-left: 0;
    //padding-right: 20px;
  }
}


.th-thumbnails {
  @include clearfix;
  > .mix {
    display: none;
  }
  
  > article {
    //padding: $line-height-computed;
  }
}

.thumbnail {
  position: relative;
  border: none;
  margin-bottom: 0;
  cursor: pointer;
  //overflow: hidden;
  .caption {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
  }
  .border {
    position: absolute;
    background-color: $theme-color;
    &.border-top,
    &.border-bottom {
      width: 0;
      height: 6px;
      @include transition(width 0.4s ease-in);
    }
    &.border-top {
      top: 0;
      left: 0;
    }
    &.border-bottom {
      bottom: 0;
      right: 0;
    }
    &.border-left,
    &.border-right {
      height: 0;
      width: 6px;
      @include transition(height 0.4s ease-in);
    }
    &.border-left {
      top: 0;
      left: 0;
    }
    &.border-right {
      bottom: 0;
      right: 0;
    }
  }
  &.active,
  &:hover {
    .border-top,
    .border-bottom {
      width: 100%;
    }
    .border-left,
    .border-right {
      height: 100%;
    }
    .thumbnail-heading {
      @include opacity(1);
    }
    .thumbnail-img {
      border-color: $body-bg;
      img {
        @include opacity(1);
      }
    }
  }
}
.thumbnail-heading {
  font-size: 38px;
  text-transform: uppercase;
  border-bottom: 6px solid $theme-color;
  @include opacity(0);
  @include transition(opacity 0.4s ease-in);
}
.thumbnail-img {
  overflow: hidden;
  text-align: center;
  position: relative;
  img {
    @include opacity(.7);
  }

}
.thumbnail-vid {
  overflow: hidden;
  text-align: center;
  position: relative;
  iframe {
    width: 100%;
  }
}

/* PROJECT PAGE
-------------------------------------------------- */

#project-wrapper {
  position: relative;
  height: 100%;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #dadbd8;
background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc3JyBoZWlnaHQ9JzE0JyB2aWV3Qm94PScwIDAgNSAxMCc+Cgk8cmVjdCB3aWR0aD0nMTEwJScgeD0nLTUlJyB5PSctNSUnIGhlaWdodD0nMTEwJScgZmlsbD0nI2RhZGJkOCcvPgoJPGxpbmUgeDE9Jy0yJyB5MT0nMScgeDI9JzcnIHkyPScxMCcgc3Ryb2tlPScjMTIwMWZmJyBzdHJva2Utd2lkdGg9JzAuNCcvPgoJPGxpbmUgeDE9Jy0yJyB5MT0nNicgeDI9JzcnIHkyPScxNScgc3Ryb2tlPScjMTIwMWZmJyBzdHJva2Utd2lkdGg9JzAuNCcvPgoJPGxpbmUgeDE9Jy0yJyB5MT0nLTQnIHgyPSc3JyB5Mj0nNScgc3Ryb2tlPScjMTIwMWZmJyBzdHJva2Utd2lkdGg9JzAuNCcvPgo8L3N2Zz4=');
  .share-project {
    @media (min-width: $grid-float-breakpoint) {
      position: absolute;
      z-index: 3;
      top: 6%;
      left: 15%;
    }
  }
  .project-header {
    border-bottom: 0;
    color: $brand-primary;
    @media (min-width: $grid-float-breakpoint) {
      position: absolute;
      z-index: 3;
      top: 15%;
      right: 10px;
      max-width: 300px;
    }
    .project-title {
      border-bottom: 6px solid $theme-color;
      text-transform: uppercase;
    }
  @include center-block();
}
/*
#border-wrapper {
  position: absolute;
  z-index: 2;
  left: 12%;
  right: 12%;
  top: 12%;
  bottom: 12%;
  
  .border {
    position: absolute;
    z-index: 2;
    background-color: $theme-color;

    &.border-top,
    &.border-bottom {
      left: 0;
      right: 0;
      height: 6px;
      @include transition(width 0.4s ease-in);
    }
    &.border-top {
      top: 0;
    }
    &.border-bottom {
      bottom: 0;
    }
    &.border-left,
    &.border-right {
      top: 0;
      bottom: 0;
      width: 6px;
      @include transition(height 0.4s ease-in);
    }
    &.border-left {
      left: 0;
    }
    &.border-right {
      right: 0;
    }
  }

  }*/
}

.project-control {
  position: absolute;
  top: 50%;
  width: auto;
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $brand-primary;
  padding: 8px;
  &.right {
    right: 20px;
    background-image: none;
    @include reset-filter();
  }
  &.left {
    left: 20px;
    background-image: none;
    @include reset-filter();
  }
  // Hover/focus state
  &:hover,
  &:focus {
    outline: none;
    color: #fff;
    text-decoration: none;
    @include opacity(.9);
  }
  
  @media (min-width: $screen-sm) {
    background-color: transparent;
    padding: 0;
    &:hover,
    &:focus {
      color: $brand-primary;
    }
  }
}