<%# cache ['home', site, I18n.locale] do %>
<% 
  @portfolio ||= site.portfolio
  @projects ||= @portfolio.projects
  @project = @projects.first
%>

<div id="project-wrapper">
  <span id="border-wrapper" class="hidden-xs">
    <span class="border border-top"></span>
    <span class="border border-bottom"></span>
    <span class="border border-left"></span>
    <span class="border border-right"></span>
  </span>
  <%= render "throbber" %>
  <div id="project-container">
    <%= render "projects/single_project" %>
  </div>

  <!-- Carousel nav -->
  <a id="prev-project" class="project-control left" href="#" data-slide="prev">&larr;<span class="hidden-xs"> Prev<br>project</span></a>
  <a id="next-project" class="project-control right" href="#" data-slide="next"><span class="hidden-xs">Next </span>&rarr;<span class="hidden-xs"><br>project</span></a>
</div>

  <% if @projects %>
  <div class="projects">
    <%= render "projects/categories" %>
    <div class="container">
      <div class="row">
        <div class="th-thumbnails th-thumbnails-full-width">
          <% @projects.each do |project| %>
            <%= render "projects/project", :project => project %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  
  <div class="testimonials">
    <div class="container">
      <div class="row">

        <h2 class="testimonial-title"><span>What<span></span></span><span>some people<span></span></span><br><span>say !<span></span></span></h2>
        <div class="col-md-9 col-md-offset-3">
          <blockquote class="testimonial"><h3><a href="#overlay" data-toggle="modal" data-target="#myModal"><i class="fa fa-quote-left"></i> Julie Gauthron,<br>
la croqueuse qui dessine sur le vide de la troisième dimension</a></h3>
          <div class="hidden">

          </div>
          <footer><cite title="Source Title">France Billand</cite></<footer></blockquote>
        </div>
      </div>
    </div>
  </div>
  
  
<div id="myModal" class="modal fade" tabindex="-1">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle-o fa-3x"></i></button>
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        
        
          <h2>Julie Gauthron, la croqueuse qui dessine sur le vide de la troisième dimension</h2>
          <p>Oui, on dirait des croquis de nus, à ceci près que le fil de fer remplace la mine de plomb et que le vide dans l’espace fait office de carnet. Emotion ludique, l’œil s’amuse d’abord aux premiers paradoxes : le poids des corps malgré l’absence totale de matière, la présence des chairs malgré le vide. Puis surgit l’événement – les nus redeviennent des gens absorbés par l’émotion de l’instant qui passe.</p><p>Et le jeu des paradoxes se poursuit, sidérant. A partir d’un rouleau de fil de fer qui vient seulement sertir du vide, Julie obtient des pleins et des déliés comme à l’encre ; capture des gestes, des attitudes comme à la volée d’un pinceau chinois ; monte des effets de volume comme si elle travaillait la terre plutôt que l’air. Elle exploite à rebours toute l’hostilité de son matériau. Elle transforme un fil de fer squelettique et froid en pâte à modeler pour muscler des chairs pleines et chaudes. Elle se sert de la fausse souplesse et de la fausse rigidité d’une tige métallique pour produire une oscillation de la douceur à la douleur, de la sueur à la suavité. Et ce sont des sexes pivoines, des corps exultants et des corps chagrins, des âmes cabossées ou vagabondes, des mains rêveuses, des mains abattues, des jambes gourmandes, des gens qui vivent leur condition humaine dans le brouillon du quotidien.</p><p> Julie dit que le fil de fer concilie ses deux prédilections pour le dessin et le modelage. Elle dit aussi qu’elle est animée par une volonté de vrai. Entre le modèle qui pose et le fil que ses mains travaillent, nulle esquisse préparatoire – aucun interstice par où risquerait de s’échapper le réel et l’essence de la rencontre.</p><p>Julie est incisive, volatile et puissante. Ses « fils de fer » lui ressemblent. Ils ont la grâce aérienne des cerf-volant, la brusque indécence de la réalité et la profondeur des poèmes. Suspendus immobiles, ils se dédoublent en ombres qui palpitent sur les murs. Au fil des lumières, leurs ombres s’écrivent tantôt d’un crayon net, tantôt s’estompent en un lointain murmure puis reviennent peu à peu comme aquarellées, puis… on ne sait plus.</p><p> 
Ses sculptures calligraphiques en flottaison dans l’espace pèsent d’un poids très charnel. Et le jeu des paradoxes prend toujours plus d’ampleur tandis que grâces et disgrâces, ombres et lumières de la vie continuent de remplir ces simples cernes du vide.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 
<%# end %>