<% 
  @portfolio ||= site.portfolio
  @theme_categories = @portfolio.categories.with_globalize.find_by_name("themes")
  @medium_categories = @portfolio.categories.with_globalize.find_by_name("mediums")
%>
<div class="categories">
  <% if @theme_categories.children.try(:any?) %>
  <div class="btn-group btn-group-categories pull-left">
    <a id="theme-categories-link" class="btn btn-link btn-lg dropdown-toggle btn-categories" data-toggle="dropdown">
      <span class="btn-label"><%= t(:"custom.view_all_themes") %></span>&nbsp;<span class="caret"></span>
    </a>
    <ul id="theme-categories-dropdown-menu" class="dropdown-menu dropdown-menu-categories" role="menu">
      <%= render :partial => "projects/category", :collection => @theme_categories.children, :as => :category %>
    </ul>
  </div>
  <% end %>
  <% if @medium_categories.children.try(:any?) %>
  <div class="btn-group btn-group-categories pull-right">
    <a id="medium-categories-link" class="btn btn-link dropdown-toggle btn-categories" data-toggle="dropdown">
      <span class="btn-label"><%= t(:"custom.view_all_mediums") %></span>&nbsp;<span class="caret"></span>
    </a>
    <ul id="medium-categories-dropdown-menu" class="dropdown-menu dropdown-menu-categories" role="menu">
      <%= render :partial => "projects/category", :collection => @medium_categories.children, :as => :category %>
    </ul>
  </div>
  <% end %>
</div>

