<div class="page-header">
  <%= render_page_title(resource.title) %>
</div>

<div class="container">
  <div class="row">                        
    <article class="col-sm-12 testimonial">
      
      <%= content_tag :p, :class => "lead" do %>
        <% raw resource.body %>
      <% end if resource.body.present? %>
      <div class="meta"><%= resource.author %></div>
    </article>
  </div> 
</div>